.main {
position: relative;
width: auto;
height: auto;
background-image: url('./Img/backgrund.jpg');
background-size: cover;
background-repeat: no-repeat;
}

h1{
  margin-top: -719px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  text-align: center;
  color: white;
  width: 100000px;
}

h2{
  margin-top: -198px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  text-align: center;
  color: white;
  width: 1249px;
  margin-left: -1402px;
  height: 263px;
}

#titel{
  position:  absolute;
  width: 370px;
  height: 50px;
  margin: -5px 130px -28px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  line-height: 48px;
  text-align: center;
  color: #FF0000;
  border: 1px solid rgb(0, 0, 0);
  text-decoration: none
}

#box{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1550px;
  height: 860px;
  background: rgba(226, 205, 205, 0.41);
  border-radius: 10px;
}

nav{
  margin: 27px 1200px 28px;

  position: relative;
  width: 340px;
  height: 50px;
  background-color: rgb(134, 46, 46);
  border-radius: 8px;
  font-size: 0;
}

nav a {  
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav a:hover{
  background: none;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1){
  width: 100px;
}

a:nth-child(2){
  width: 110px;
}

a:nth-child(3){
  width: 110px;
}


nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #ff0000;
}

nav .start-om-oss, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #ff1900;
}

nav .start-fisk, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #ff0000;
}

body{
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: blod;
}

span{
  color: #2bd6b4;
}

